$color-primary1: #05070d;
$color-primary2: #33394c;
$color-primary3: #dc2048;
$color-secondary1: linear-gradient(
  90deg,
  rgba(241, 112, 160, 1) 0%,
  rgba(235, 113, 159, 1) 25%
);
$color-secondary2: #4f3b48;
$color-secondary3: #888794;
$color-white: #fff;
